<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>my username: {{user.username}}</h1>
    {%if user.is_authenticated%}
    <form method="POST" action="{%url 'logout'%}">
        {%csrf_token%}
        <button type="submit">logout</button>
    </form>
    {%endif%}
    {% if messages %}
    <ul>
        {%for message in messages%}
        <li>{{message}}</li>
        {%endfor%}
    </ul>
    {%endif%}
    <p>Are you sure you wanna delete this?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">yes</button>
        <a href="{% url 'deleteProject' pk=project.pk %}">No</a>
    </form>
</body>

</html>