<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>my username: {{user.username}}</h1>
    {%if user.is_authenticated%}
    <form method="POST" action="{%url 'logout'%}">
        {%csrf_token%}
        <button type="submit">logout</button>
    </form>
    {%endif%}
    {%for dev in developers%}
    <h2>{{dev}}</h2>
        {%for project in projects%}
            {%for projectDev in project.developers.all%}
                {%if projectDev.first_name == dev %}
                <h3>{{project.title}}</h3>
                {%endif%}
            {%endfor%}
        {%endfor%}
    {%endfor%}
</body>
</html>